<body>
<head>
    <h1>toDo list</h1>
</head>
<div class="container">
    <form  action="/atividades" method="POST" id="post" name="principal">
        <div>
            <label>O que vamos fazer?</label>
            <input type="text" class="text" name="oQueFazer" id="toDo">
        </div>
        <div>
            <label>Hora</label>
            <input type="time" class="time" name="horaCerta" id="time">
        </div>
        <div>
            <label>Dia</label>
            {{!-- a propriedade name especifica no corpo da minha requisição o que é cada input --}}
            <input type="date" class="date" name="dataCerta" id="date">
        </div>
        <br>
        <div>
            <input type="submit" class="button" value="POST">
        </div>
    </form>
</div>
    <ul class="list-group">
        {{#each toDo}}
            <li class="boxToDo" id="boxToDo">
                <div id="check">
                        <button type="submit" class="exclusion" name="id" value="{{this._id}}" id="exclusion">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 19" fill="none" type="submit">
                                <rect x="2.53418" width="25" height="4" rx="2" transform="rotate(37 2.53418 0)" fill="#D9D9D9"/>
                                <rect y="15.2028" width="25" height="4" rx="2" transform="rotate(-37 0 15.2028)" fill="#D9D9D9"/>
                            </svg>
                        </button>
                </div>
                    <div id="day">
                        <span>dia {{this.dia}}/{{this.mes}}<span> 
                    </div>
                    <div id="do-hour">
                        <span>{{this.oQueFazer}}</span>
                        <span>{{this.horaCerta}}</span>
                    </div>
            </li>
        {{/each}}
    </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const btn = document.getElementById('exclusion');
const id = btn.value
//meu btn.value está passando um valor indefinido para meu backAnd, decidi partir para 
//um frot-and melhor para o que eu quero fazer
const deleted = (id) => {
    axios
        .delete('http://localhost:8000/atividades', {
            id: id
        })
        .then((res) => console.log(res))
        .catch((error) => {
            if (error.request) {
                console.log('sem resposta servidor');
            } else if (error.response) {
                console.log('Erro de resposta do servidor');
            } else {
                console.log('Erro ao fazer a solicitação');
            }
        });
};

btn.addEventListener('click', (e) => {
    e.preventDefault();
    deleted(id);
});
</script>


