<body>
<head>
    <div>
    <h1>toDo list</h1>
    <button target="div-hiden"  type="button" id="buttonMenu"><svg xmlns="http://www.w3.org/2000/svg" width="136" height="136" viewBox="0 0 136 136" fill="none">
  <g filter="url(#filter0_d_874_159)">
    <circle cx="68" cy="62" r="62" fill="#859876"/>
    <ellipse cx="39.1137" cy="61.2955" rx="9.15909" ry="9.15909" fill="#212C14"/>
    <ellipse cx="68.7045" cy="61.2955" rx="9.15909" ry="9.15909" fill="#212C14"/>
    <ellipse cx="98.2956" cy="61.2955" rx="9.15909" ry="9.15909" fill="#212C14"/>
  </g>
  <defs>
    <filter id="filter0_d_874_159" x="0" y="0" width="136" height="136" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="6"/>
      <feGaussianBlur stdDeviation="3"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_874_159"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_874_159" result="shape"/>
    </filter>
  </defs>
</svg></button>
    </div>
    <section>
        <dialog id="menu">
            <div id="headerMenu">
            <h3>Menu</h3>
            <button type="button" class="exclusion" id="btnCloseModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="47" height="46" viewBox="0 0 47 46" fill="none">
                    <circle opacity="0.9" cx="4.5" cy="41.5" r="4.5" fill="#212C14"/>
                    <circle cx="4.5" cy="4.5" r="4.5" fill="#212C14"/>
                    <circle cx="23.5" cy="23.5" r="4.5" fill="#212C14"/>
                    <circle cx="42.5" cy="41.5" r="4.5" fill="#212C14"/>
                    <circle cx="33.5" cy="32.5" r="4.5" fill="#212C14"/>
                    <circle cx="42.5" cy="4.5" r="4.5" fill="#212C14"/>
                    <circle cx="32.5" cy="13.5" r="4.5" fill="#212C14"/>
                    <circle cx="14.5" cy="13.5" r="4.5" fill="#212C14"/>
                    <circle cx="14.5" cy="32.5" r="4.5" fill="#212C14"/>
                </svg>
            </button>
            </div>
            <ul id="menuList">
            <li><a href="/perfil" id="goToPerfil">Perfil</a></li>
            <hr>
            <li><a id="goTohistoric">histórico afazer</a></li>
            <hr>
            <li><a id="linkOut">Sair</a></li>
            <hr>
        </dialog>
    </section>
</head>
<div class="container">
    <form  action="/atividades" method="POST" id="post" name="principal">
        <div>
            <label>O que vamos fazer?</label>
            <input type="text" class="text" name="oQueFazer" id="toDo">
        </div>
        <div>
            <label>Hora</label>
            <input type="time" name="horaCerta" id="time">
        </div>
        <div>
            <label>Dia</label>
            {{!-- a propriedade name especifica no corpo da minha requisição o que é cada input --}}
            <input type="date" name="dataCerta" id="date">
        </div>
    </form>
    <div>
            <input type="submit" class="button" value="Criar" id="posted">
    </div>
</div>
    <ul class="list-group">
        {{#each toDo}}
            <li class="boxToDo" id="boxToDo">
                <div id="check">
                        <div type="button" class="exclusion" value="{{this._id}}" id="exclusion" onclick="handleClick('{{this._id}}')">
                            <img id="button{{this._id}}" src="./images/botaomenos.svg" alt="excluir atividade" onmouseover="buttonX('{{this._id}}')" onmouseout="buttonMenos('{{this._id}}')">
                        </div>
                </div>
                    <div id="do-hour">
                        <span>{{this.oQueFazer}}</span>
                        <br>
                        <span id="hora">{{this.horaCerta}}</span>
                    </div>
                    <div id="day">
                        <span id="dia">dia {{this.dia}}/{{this.mes}}<span> 
                    </div>
            </li>
        {{/each}}
    </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/activities.js"></script>
