<body>
<head>
    <h1>toDo list</h1>
</head>
<div class="container">
    <form  action="/atividades" method="POST" id="post" name="principal">
        <div>
            <label>O que vamos fazer?</label>
            <input type="text" class="text" name="oQueFazer" id="toDo">
        </div>
        <div>
            <label>Hora</label>
            <input type="time" name="horaCerta" id="time">
        </div>
        <div>
            <label>Dia</label>
            {{!-- a propriedade name especifica no corpo da minha requisição o que é cada input --}}
            <input type="date" name="dataCerta" id="date">
        </div>
    </form>
    <div>
            <input type="submit" class="button" value="POST" id="posted">
    </div>
</div>
    <ul class="list-group">
        {{#each toDo}}
            <li class="boxToDo" id="boxToDo">
                <div id="check">
                        <button type="button" class="exclusion" value="{{this._id}}" id="exclusion-{{this._id}}" onclick="handleClick('{{this._id}}')">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 19" fill="none">
                                <rect x="2.53418" width="25" height="4" rx="2" transform="rotate(37 2.53418 0)" fill="#D9D9D9"/>
                                <rect y="15.2028" width="25" height="4" rx="2" transform="rotate(-37 0 15.2028)" fill="#D9D9D9"/>
                            </svg>
                        </button>
                </div>
                    <div id="do-hour">
                        <span>{{this.oQueFazer}}</span>
                        <br>
                        <span id="hora">{{this.horaCerta}}</span>
                    </div>
                    <div id="day">
                        <span id="dia">dia {{this.dia}}/{{this.mes}}<span> 
                    </div>
            </li>
        {{/each}}
    </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const btnExcluison = document.getElementsByClassName('exclusion');
    const btnPost = document.getElementById('posted')

const deleted = (id) => {
    axios
        .delete(`http://localhost:8000/atividades/${id}`, {
            _id: id
        })
        .then((res) => location.reload())
        .catch((error) => {
            if (error.request) {
                console.log('sem resposta servidor');
            } else if (error.response) {
                console.log('Erro de resposta do servidor');
            } else {
                console.log('Erro ao fazer a solicitação');
            }
        });
};

async function handleClick(id) {
    deleted(id);
}


const posted = (oQueFazer, dataCerta, horaCerta) => {
    axios
        .post('http://localhost:8000/atividades',{
            oQueFazer,
            dataCerta,
            horaCerta
    })
    .then(res => location.reload())
    .catch(err => console.log(err))
}

btnPost.addEventListener('click', async function(e) {
    e.preventDefault();
    const {oQueFazer, dataCerta, horaCerta} = document.getElementById("post");
    await posted(oQueFazer.value, dataCerta.value, horaCerta.value);
});

</script>


