<head>
<h1>{{title}}</h1>
</head>
<ul class="list-group">
</div>
    {{#each toDo}}
    <li class="list-group-item list-group-item-action">{{this.oQueFazer}} dia {{this.dia}} {{this.hora}} : {{this.minutos}}
    <span class="badge badge-primary badge-pill"></span>
    </li>
    {{/each}}
</ul>
